/* Regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* fine regole generali */

/* fino a caricamento pagina il gioco è invisibile */
.invisible {
  display: none;
}

#game-container {
  min-width: 150px;
  min-height: 150px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  /* DEBUG:  */
  /* border: 1px solid black; */
}

#game-container .button {
  width: 50%;
  height: 50%;
  border: 1px solid black;
}

.button.b-1 {
  border-top-left-radius: 100%;
  background-color: green;
}

.button.b-2 {
  border-top-right-radius: 100%;
  background-color: red;
}

.button.b-3 {
  border-bottom-left-radius: 100%;
  background-color: blue;
}

.button.b-4 {
  border-bottom-right-radius: 100%;
  background-color: yellow;
}


#game-container .circle {
  width: 30%;
  height: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-container .circle * {
  font-size: 35px;
}

.play:hover{
  transform: scale(1.1);
}

/* animazioni */
#game-container .button {
  filter: brightness(0.9);
}

#game-container .clickable.button:hover {
  filter: brightness(1.5);
}

#game-container .button.userclick {
  transform: scale(0.90);
}

/* animazione durante l'esecuzione js */
#game-container .button.playing {
  filter: brightness(1.5);
  transform: scale(0.90);
}
